@page "/email/email-service"

@using NETStandardLibrary.Common
@inject NETStandardLibrary.Email.EmailService<Startup> Service
@layout ClassLayout

<p>
	This class provides a method of embedding, caching, generating and sending emails using Razor templates and the built-in .NET SMTP
	capabilities. This page will demonstrate some of the data and functionality in this class.
</p>

<h2>EmailService.Options</h2>
<p>
	<EmailOptionsList @bind-OptionsLookup="optionsLookup" />
</p>

<h2>EmailService.Render()</h2>
<form>
	<div class="form-group">
		<label for="template">Template</label>
		<input type="text" class="form-control" id="template" @bind="template">
		<small class="form-text text-muted">Use @@Model.Text to use the value you will enter below</small>
	</div>
	<div class="form-group">
		<label for="text">Text</label>
		<input type="text" class="form-control" id="text" @bind="text">
		<small class="form-text text-muted">Use @@Model.Text in your template to see this text</small>
	</div>
	<button type="button" class="btn btn-primary"  @onclick="Render">Render</button>
</form>

<br><br>

<div>
	<strong>Result from EmailService.Render()</strong>
	<div>@result</div>
</div>

@code {
	private Dictionary<string, object> optionsLookup = new Dictionary<string, object>();
	private string text = "";
	private string template = "";
	private string result;

	protected override Task OnInitializedAsync()
	{
		optionsLookup = typeof(NETStandardLibrary.Email.EmailOptions).GetPropertyDictionary(Service.Options);
		return Task.CompletedTask;
	}

	private async void Render()
	{
		result = await Service.Render(template, new { Text = text });
	}
}
