@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu />
</div>

<div class="main">
	<!-- Make this a component?!? It's used in main layout too -->
	<div class="top-row px-4">
		<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
	</div>

	<div class="content px-4">
		<h1>@FullName</h1>
		@Body
	</div>
</div>

@code {
	private string FullName
	{
		get
		{
			var routeView = (RouteView)Body.Target;
			return routeView.RouteData.PageType.FullName.Replace("NETStandardSamples.Web.Pages", "NETStandardLibrary");
		}
	}
}
